.title {
padding: 20px;
margin: 0px;
}

.title.homepage {
    background-color: #88c8fc;
    border: 5px solid #184e7a;
}

.title.pasta {
    background-color: antiquewhite;
    border: 5px solid #32a166;
}

.title.yoghurt {
    background-color: whitesmoke;
    border: 5px solid #f1e64e;
}

.title.falafel {
    background-color: rgb(174, 139, 108);
    border: 5px solid #a0d392;
}

.list {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.list.pasta {
    display: block;
    margin: 60px 0px;
    font-size: 20px;
}

.list.yoghurt {
    display: block;
    margin: 60px 0px;
    font-size: 20px;
}

.list.falafel {
    font-size: 20px;
}

.recipe-list {
    background-color: #d2d6d9;
    padding: 10px;
    padding-left:20px;
    border: 5px solid #3a3a3a;
}

.steps {
    background-color: #ecead5;
    padding: 10px;
    padding-left:20px;
    border: 5px solid #e9e4a8;
}

.footer {
    background-color: #d2d6d9;
    height: 60px;
    margin-top: 100px;
    border: 5px solid rgba(113, 125, 158, 0.886);
}

